.footer {
    padding: 20px 0;
    pointer-events: all;
    font-size: 14px;
    border-top: solid 1px #1b1f23;
    background-color: #fff;
    background-position: center center;
    color: #000;
  }
.footer-menu {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none ;
}